@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  --rockgrey: #201a1a;
  --ashwhite: #dbdce1;
  --ashmedwhite: #cccdcf;
  --ashgrey: #717073;
  --lavared: #8b3327;
  --lavaorange: #ce8642;
}

/* Simple browser reset */
* {
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: var(--rockgrey);
}

.content {
  min-height: 100vh;
  padding-bottom: 2.5rem;    /* Footer height */
  background-color: var(--ashwhite);
}

body {
  background: var(--rockgrey);
  font-family: Arial, Helvetica, sans-serif;
}